@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@500&display=swap");
/* breakpoints: { xs: 0, sm: 576, md: 768, lg: 992, xl: 1200 },
containerMaxWidths: { sm: 540, md: 720, lg: 960, xl: 1140 }, */

body {
  background-color: #fff;
}
.App {
  font-family: "Lora", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  a:not(.card a) {
    color: #318ce1;
  }
}

a:hover {
  color: #318ce1;
}

h1 {
  font-family: "Lora", sans-serif;
  font-size: 1.9375rem;
  font-weight: 400;
  line-height: 2.635rem;
  margin-top: 0;
  margin-bottom: 3.25rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }
}

h2 {
  font-family: "Manrope", san-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56;
  color: #7d7d7d;
}

.name {
  margin: 1.875rem 0 4.813rem;
  line-height: 1.95rem;
}

@media (max-width: 767px) {
  .name {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
}

.get-in-touch {
  margin-bottom: 1.313rem;
}

p {
  margin: 0;
}

.text-20 {
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.text-san-serif {
  font-family: "Manrope", san-serif;
}

.card {
  padding: 1.563rem 1rem;
  background-color: #f7f7f7;
  border-radius: 0.438rem;
  font-size: 0.875rem;
  font-family: "Manrope", san-serif;
}

.card.first {
  margin-bottom: 1.25rem;
}

.card a {
  display: block;
  padding-bottom: 1rem;
  line-height: 1;
}

.card a svg {
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

.card a + a {
  padding-bottom: 0;
}

.portrait {
  max-width: 100%;
}

@media (max-width: 767px) {
  .portrait {
    margin-bottom: 1rem;
  }
}
